services:
  db:
    image: postgres:16
    restart: always
    ports: 
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      TZ: Asia/Jakarta
      PGTZ: Asia/Jakarta

  frontend:
    image: nginx:alpine
    restart: always
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    environment:
      TZ: Asia/Jakarta

  app:
    build: ./backend
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - db
    environment:
      TZ: Asia/Jakarta
      SPRING_DATASOURCE_URL: ${DB_URL}
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
    dns:
      - 8.8.8.8

volumes:
  postgres_data:
